#textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
}
.added {
	box-sizing: border-box;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.fijo{
	position: fixed;
	top: 0px;
	width: 90%;
	margin: auto;
	background-color: white;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	z-index: 1000;
}
.enlistado{
	margin-top: 350px;
}
h1{
	background-color: #ccc;
	width: 100%;
}
.tachos{
	margin-top: -7px;
	float: right;
}
.tachado{
	text-decoration: line-through;
}
.normal{
	text-decoration: none;
}